body {
  color: #d28a16;
  text-align: center;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  background-image: url("../public/video-game-background-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

a:link {
  color: #a0a0a5;
}

a:hover {
  color: #d0d0d5;
}

a:active {
  color: #b0b0b5;
}

a:visited {
  color: #606068;
}
.homeContainer {
  width: 45%;
  margin: auto;
  text-align: left;
}

.linksList {
  column-count: 2;
}

.importsContainer {
  width: 49%;
  margin: auto;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.gamesContainer {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
}

.showInfo {
  display: inline-block;
  text-align: left;
  width: 49%;
}

.queryContainer {
  width: 49%;
  margin: auto;
  margin-bottom: 20px;
  column-count: 3;
  text-align: left;
  break-inside: avoid-column;
  page-break-inside: avoid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
